//<INPUT>
// Сніппет (HTML): inp
input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: toRem(8) toRem(10);
	// border: 1px solid #eee;
	@include adaptiveValue('font-size', 18, 16);
	border: toRem(0.5) solid var(--2-deep-green);
	outline: none !important;
	&._form-focus {
		color: var(--2-deep-green);
	}
	&._form-error {
		border: toRem(0.5) solid #bf2020;
	}
	&--quantity {
		border: toRem(0.5) solid transparent;
		padding: 0;
		outline: none !important;
	}
}
.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}

textarea.input {
	resize: none;
	line-height: 1.4;
	padding: toRem(8) toRem(10);
	// border: toRem(0.5) solid var(--2-deep-green);
	max-height: toRem(100);
}
