//<QUANTITY>
// Сніппет (HTML): qa
.quantity {
	width: toRem(51);
	height: toRem(23);
	border: toRem(0.1) solid var(--2-deep-green);

	display: flex;
	position: relative;
	// border: 1px solid rgba(166, 166, 166, 0.45);
	// .quantity__button
	&__buttons {
		width: toRem(20);
		height: toRem(30);
	}
	&__button {
		position: absolute;
		flex: 0 0 toRem(12);
		width: toRem(12);
		height: toRem(5);
		// top: 50%;
		// right: 0;
		cursor: pointer;
		&::before,
		&::after {
			content: '';
			position: absolute;

			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -4.5px;
			// background-color: #a6a6a6;
			// width: 9px;
			// height: 1px;
		}
		&::before {
		}
		&::after {
		}
		@media (any-hover: hover) {
			&:hover {
				&::before,
				&::after {
					// background-color: rgba(0, 0, 0, 0.5);
				}
			}
		}
		// .quantity__button_plus
		&--plus {
			top: 20%;
			right: 0;
			background: url('@img/icons/quantity-arrow-up.svg') 0 0 / 12px 5px no-repeat;
			//
		}
		// .quantity__button_minus
		&--minus {
			top: 60%;
			right: 0;
			background: url('@img/icons/quantity-arrow-down.svg') 0 0 / 12px 5px no-repeat;
		}
	}
	// .quantity__input
	&__input {
		flex: 1 1 auto;
		input {
			height: 100%;
			// color: #a6a6a6;
			font-size: toRem(16);
			max-width: toRem(34);
			text-align: center;
		}
	}
}
