.booking {
	background: url('@img/booking/bg.png') 50% / cover no-repeat;
	min-height: 100vh;
	&__container {
		// padding: 0;
		@include adaptiveValue('padding-top', 120, 48);
		@include adaptiveValue('padding-bottom', 120, 48);
	}
	&__wrapper {
		max-width: toRem(1030);
		margin: 0 auto;
		background-color: var(--2-merino);
		padding-right: toRem(15);
		padding-left: toRem(15);
		padding-top: toRem(50);
		padding-bottom: toRem(50);
	}
	&__inner {
		max-width: toRem(815);
		margin: 0 auto;
	}
	&__form {
		@include adaptiveValue('padding-right', 150, 15, 0, 991, 479);
		@include adaptiveValue('padding-left', 150, 15, 0, 991, 479);
		@media (min-width: $mobile) {
			// display: flex;
			// justify-content: center;
		}
		@media (min-width: $mobileSmall) {
			box-shadow: 0 1px 6px 0 rgba(206, 115, 67, 0.35);
			border-radius: toRem(8);
		}
		@include adaptiveValue('padding-top', 48, 32);
		@include adaptiveValue('padding-bottom', 48, 32);
	}

	&__time {
	}
}
.time-booking {
	display: flex;

	gap: toRem(8);
	@include adaptiveValue('margin-bottom', 60, 48);
	@media (min-width: $mobileSmall) {
		justify-content: end;
	}
	@media (max-width: $mobileSmall) {
		flex-direction: column;
	}
	&__item {
		display: flex;
		gap: toRem(8);
		@include adaptiveValue('font-size', 16, 12);
		line-height: 1.5;
	}

	&__icon {
	}

	&__text {
	}
}

.form {
	&__row {
	}

	&__column {
	}

	&__button {
	}
}

.quantity {
	&__button {
	}

	&__button--minus {
	}

	&__input {
	}

	&__button--plus {
	}
}
// ! What we offer
.what-we-offer {
	max-width: toRem(1030);
	@include adaptiveValue('margin-bottom', 64, 48);
	&__title {
		text-align: center;
		@include adaptiveValue('font-size', 24, 16);
		line-height: 1.2;
		text-transform: uppercase;
		text-align: center;
		@include adaptiveValue('margin-bottom', 56, 24);
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@media (min-width: $mobileSmall) {
		}
		@media (min-width: $mobile) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $tablet) {
			grid-template-columns: repeat(4, 1fr);
		}
		column-gap: toRem(30);
		@include adaptiveValue('row-gap', 48, 34);
	}

	&__item {
	}
}
.item-what-offer {
	&__sub-title {
		font-weight: 600;
		font-size: toRem(14);
		@media (max-width: $mobile) {
			font-weight: 700;
		}
		line-height: 1.5;
		text-transform: uppercase;
		margin-bottom: toRem(16);
	}

	&__list {
		display: flex;
		flex-direction: column;
		row-gap: toRem(8);
	}

	&__item {
		position: relative;
		@include adaptiveValue('padding-left', 16, 10);
		@include adaptiveValue('font-size', 14, 12);
		line-height: 1.5;
		&::before {
			content: '';
			position: absolute;
			top: toRem(5);
			left: 0;
			width: toRem(8);
			height: toRem(8);
			@media (max-width: $mobileSmall) {
				width: toRem(6);
				height: toRem(6);
			}
			border-radius: 50%;
			background-color: var(--2-peach);
		}
	}
}
// ! SLIDER
.building-selection {
	// @include adaptiveValue('margin-bottom', 240, 64);
	&__wrapper {
		max-width: toRem(1005);
		margin: 0 auto;
		display: flex;
		justify-content: end;
	}
	&__select {
		@include adaptiveValue('width', 227, 131);
	}
	&__container {
	}
	&__box {
		// @include adaptiveValue('margin-bottom', 92, 50);
		max-width: toRem(1030);
		margin: 0 auto;
	}
	&__inner {
		max-width: toRem(1030);
		margin: 0 auto;
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 64, 32);
		}
	}

	&__columns {
		display: grid;

		@include adaptiveValue('column-gap', 30, 24);
		@include adaptiveValue('row-gap', 30, 24, 0, 767, 320);

		@media (min-width: $mobileSmall) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $mobile) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&__column {
		display: flex;
		flex-direction: column;
		@include adaptiveValue('row-gap', 16, 11);
	}

	&__item {
		position: relative;
		padding-left: toRem(19);
		@include adaptiveValue('font-size', 18, 14);

		line-height: 1.5;
		display: inline-flex;
		align-items: center;

		&::before {
			content: '';
			position: absolute;
			top: calc(50% - 5px);
			left: 0;
			width: toRem(11);
			height: toRem(11);
			background-color: var(--2-peach);
			border-radius: 50%;
		}
	}
	&__buttons {
		display: flex;
		justify-content: center;
		column-gap: toRem(30);
		@include adaptiveValue('row-gap', 30, 24);

		flex-wrap: wrap;
		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: flex-start;
		}
	}
}
.slider-select-iamge {
	&--2,
	&--3,
	&--4,
	&--5,
	&--6,
	&--7,
	&--8,
	&--9,
	&--10 {
		display: none;
	}
}

.slider-select {
	&__title {
		@include adaptiveValue('font-size', 24, 14);
		display: flex;
		@media (max-width: $tablet) {
			justify-content: end;
		}
		@include adaptiveValue('margin-bottom', 32, 8);
	}
	&__block-select {
		@include adaptiveValue('width', 420, 131);
		@include adaptiveValue('height', 86, 28);
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: var(--2-merino);
		z-index: 30;
		display: flex;
		// justify-content: end;
		padding-left: toRem(20);
		align-items: flex-end;
	}
	&__box {
		position: relative;
		max-width: toRem(1030);
		margin: 0 auto;
		background-color: var(--2-merino);
	}

	&__slider {
		// @include adaptiveValue('height', 622, 260);
	}
	&__text {
		max-width: toRem(815);
		padding-right: toRem(15);
		padding-left: toRem(15);
		@include adaptiveValue('padding-top', 60, 24);
		@include adaptiveValue('padding-bottom', 120, 64);
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		@include adaptiveValue('row-gap', 16, 8);
		@include adaptiveValue('font-size', 18, 14);
		line-height: 1.5;
	}
	&__slide {
	}
	&__image {
		img {
			aspect-ratio: 16 / 9.6623;
		}
	}
	&__buttons {
		& > button {
			width: toRem(48) !important;
			height: toRem(48) !important;
			@media (max-width: $mobileSmall) {
				width: toRem(24) !important;
				height: toRem(24) !important;
			}
		}
		& > .swiper-block-style-button-prev {
			@include adaptiveValue('left', -20, -10);
			&::after {
				width: toRem(48) !important;
				height: toRem(48) !important;
				@media (max-width: $mobileSmall) {
					width: toRem(24) !important;
					height: toRem(24) !important;
					background: #203d36 url('@img/icons/arrow-slider--small.svg') 50% / 13px 12px no-repeat;
				}
				color: transparent;
				border-radius: 50%;
				@media (min-width: $mobileSmall) {
					background: #203d36 url('@img/icons/arrow-slider.svg') 50% / 26px 26px no-repeat;
				}
			}
		}
		& > .swiper-block-style-button-next {
			@include adaptiveValue('right', -20, -8);
			&::after {
				width: toRem(48) !important;
				height: toRem(48) !important;

				color: transparent;

				border-radius: 50%;
				@media (min-width: $mobileSmall) {
					background: #203d36 url('@img/icons/arrow-slider.svg') 50% no-repeat;
				}
				transform: rotate(180deg);
				@media (max-width: $mobileSmall) {
					width: toRem(24) !important;
					height: toRem(24) !important;
					background: #203d36 url('@img/icons/arrow-slider--small.svg') 50% / 13px 12px no-repeat;
				}
			}
		}
	}
}
